/* Set font size, line height, and color */
body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
}


aside {
  position: fixed;
  top: 50%;
  right: 2rem;
  bottom: 0;
  width: 300px;
  margin-bottom: 2rem;
  padding: 20px;
  background-color: #ffffff;
  transition: transform 0.3s ease-in-out;
  transform: translateX(100%);
}

aside.show {
  transform: translateX(0);
}
.bio {
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 1rem;
}

.bio h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.bio img {
  border-radius: 50%;
}

.bio ul {
  list-style: none;
  margin-top: 1rem;
}

.bio ul li {
  margin-bottom: 0.5rem;
}

.bio ul li strong {
  font-weight: bold;
}

/* CSS untuk header */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #292929;
  color: #fff;
  padding: 1rem;
}

header h1 {
  font-size: 2rem;
  margin: 0;
  padding: 0;
}

nav ul {
  display: flex;
  margin: 0;
  padding: 0;
}

nav ul li {
  position: relative;
  margin: 0 2rem 0 0;
  padding: 0;
  list-style: none;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 0.5rem;
  transition: all 0.2s;
}

nav ul li:hover > ul {
  display: block;
}

nav ul li ul {
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
  z-index: 1;
  padding: 0.5rem;
  background-color: #292929;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

nav ul li ul li {
  margin: 0;
  padding: 0;
}

nav ul li ul li a {
  color: #fff;
  text-decoration: none;
  padding: 0.5rem;
  display: block;
}

nav ul li ul li a:hover {
  color: #8dc63f;
  background-color: #fff;
}

/* CSS untuk sub-menu */
nav ul li ul.show {
  display: block;
}

main {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 2rem;
  margin-top: 60px;
}

/* Mengatur style untuk judul artikel */
h1 {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 20px;
}

/* Mengatur tampilan untuk elemen article */
article {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  margin: 20px auto;
  max-width: 600px;
  padding: 20px;
}

/* Mengatur tampilan untuk elemen h2 */
h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

/* Mengatur tampilan untuk elemen p */
p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 10px;
}
/* Menetapkan margin dan padding pada kotak */
.box {
  width: 200px;
  height: 200px;
  margin: 10px;
  padding: 10px;
  background-color: #f2f2f2;
  box-sizing: border-box;
  float: right;
}
#article-container {
  margin-bottom: 20px;
}
#button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
#prev-button, #next-button {
  background-color: #6000ce;
  border: none;
  color: white;
  padding: 10px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 8px;
}

#prev-button[disabled], #next-button[disabled] {
  opacity: 0.5;
  cursor: not-allowed;
}

#prev-button {
  float: left;
}

#next-button {
  float: right;
}

.button {
  display: inline-block;
  padding: 0.5rem 1rem;
  border-radius: 3px;
  background-color: #06c;
  color: #fff;
  text-decoration: none;
  transition: background-color 0.2s ease-in-out;
}

.button:hover {
  background-color: #036;
}


footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #222;
  color: #fff;
  text-align: center;
}
