/* Set font size, line height, and color */
body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  color: #333;
}

/* CSS untuk header */
header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #292929;
  color: #fff;
  padding: 1rem;
}

header h1 {
  font-size: 2rem;
  margin: 0;
  padding: 0;
}

nav ul {
  display: flex;
  margin: 0;
  padding: 0;
}

nav ul li {
  position: relative;
  margin: 0 2rem 0 0;
  padding: 0;
  list-style: none;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
  padding: 0.5rem;
  transition: all 0.2s;
}

nav ul li:hover > ul {
  display: block;
}

nav ul li ul {
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
  z-index: 1;
  padding: 0.5rem;
  background-color: #292929;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

nav ul li ul li {
  margin: 0;
  padding: 0;
}

nav ul li ul li a {
  color: #fff;
  text-decoration: none;
  padding: 0.5rem;
  display: block;
}

nav ul li ul li a:hover {
  color: #8dc63f;
  background-color: #fff;
}

/* CSS untuk sub-menu */
nav ul li ul.show {
  display: block;
}

main {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 2rem;
  margin-top: 60px;
}
article {
  width: 100%; /* mengisi lebar kotak */
  margin-bottom: 2rem;
  padding: 1rem;
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  float: right;
  box-sizing: border-box; /* menetapkan kotak dalam kotak */
}

article h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

article p {
  margin-bottom: 1rem;
}
/* Mengatur tata letak untuk kontainer artikel */
.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  grid-gap: 20px;
}

/* Menetapkan margin dan padding pada kotak */
.box {
  width: 200px;
  height: 200px;
  margin: 10px;
  padding: 10px;
  background-color: #f2f2f2;
  box-sizing: border-box;
  float: right;
}

.containerbutton{
  text-align: center;
}
.button {
  display: inline-block;
  padding: 0.5rem 1rem;
  background-color: #06c;
  color: #fff;
  transition: background-color 0.2s ease-in-out;
}

.button:hover {
  background-color: #036;
}


aside {
  position: fixed;
  top: 50%;
  right: 2rem;
  bottom: 0;
  width: 300px;
  margin-bottom: 2rem;
  padding: 20px;
  background-color: #ffffff;
  transition: transform 0.3s ease-in-out;
  transform: translateX(100%);
}

aside.show {
  transform: translateX(0);
}
.bio {
  background-color: #fff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 1rem;
}

.bio h3 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.bio img {
  border-radius: 50%;
}

.bio ul {
  list-style: none;
  margin-top: 1rem;
}

.bio ul li {
  margin-bottom: 0.5rem;
}

.bio ul li strong {
  font-weight: bold;
}

/* Set media query for mobile */
@media (max-width: 767px) {
  aside {
    position: relative;
    top: auto;
    right: auto;
    transform: none;
    margin-top: 2rem;
  }
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: #222;
  color: #fff;
  text-align: center;
}
